i {
  font-family: "iconfont" !important;
}

.icon-credits:before {
  content: "\e640";
}

.icon-camera:before {
  content: "\e62c";
}

.icon-fenxiang:before {
  content: "\e62f";
}

.icon-man:before {
  content: "\e63e";
}

.icon-woman:before {
  content: "\e63f";
}

.icon-weixinzhifu:before {
  content: "\e63c";
}

.icon-1701:before {
  content: "\e621";
}

.icon-1801:before {
  content: "\e622";
}

.icon-5501:before {
  content: "\e623";
}

.icon-kehuxuqiu04:before {
  content: "\e624";
}

.icon-shoucangxing2:before {
  content: "\e62a";
}

.icon-shoucangxing:before {
  content: "\e62b";
}

.icon-pinpai:before {
  content: "\e63d";
}

.icon-anquan:before {
  content: "\e600";
}

.icon-bangzhu:before {
  content: "\e601";
}

.icon-dianhua:before {
  content: "\e602";
}

.icon-dianhuaben:before {
  content: "\e603";
}

.icon-duizhangdan:before {
  content: "\e604";
}

.icon-gerenxinxi:before {
  content: "\e605";
}

.icon-jinyizhoushouyi:before {
  content: "\e606";
}

.icon-jindutiaoqiandai:before {
  content: "\e607";
}

.icon-jindutiaoshouyidaozhang:before {
  content: "\e608";
}

.icon-jindutiaowancheng:before {
  content: "\e609";
}

.icon-mianfei:before {
  content: "\e60a";
}

.icon-saoma:before {
  content: "\e60b";
}

.icon-shanchu:before {
  content: "\e60c";
}

.icon-shishi:before {
  content: "\e633";
}

.icon-shouyi:before {
  content: "\e634";
}

.icon-shuaxin:before {
  content: "\e60d";
}

.icon-sousuo:before {
  content: "\e635";
}

.icon-wodezhanghu:before {
  content: "\e636";
}

.icon-xinxi:before {
  content: "\e637";
}

.icon-yiwen:before {
  content: "\e638";
}

.icon-yulibao:before {
  content: "\e60e";
}

.icon-zhifubao:before {
  content: "\e60f";
}

.icon-zhuanchu:before {
  content: "\e639";
}

.icon-zhuanru:before {
  content: "\e63a";
}

.icon-qita:before {
  content: "\e610";
}

.icon-tabzhuanzhang:before {
  content: "\e611";
}

.icon-hongbaomian:before {
  content: "\e612";
}

.icon-hongbao:before {
  content: "\e613";
}

.icon-ico-right-arrow:before {
  content: "\e631";
}

.icon-dinghuobao:before {
  content: "\e614";
}

.icon-shenfenzhengguishudichaxun01:before {
  content: "\e625";
}

.icon-shoujihaosanyaosuyanzheng01:before {
  content: "\e626";
}

.icon-xinyongmojing01:before {
  content: "\e627";
}

.icon-wangdaiheimingdan01:before {
  content: "\e628";
}

.icon-qiyerenzheng101:before {
  content: "\e629";
}

.icon-mail:before {
  content: "\e61b";
}

.icon-buyotherdown:before {
  content: "\e61c";
}

.icon-buyotherplus:before {
  content: "\e61d";
}

.icon-error:before {
  content: "\e61e";
}

.icon-infosign:before {
  content: "\e61f";
}

.icon-moreif:before {
  content: "\e620";
}

.icon-qrcode-1-copy:before {
  content: "\e616";
}

.icon-list-2-copy:before {
  content: "\e617";
}

.icon-remove-1-copy:before {
  content: "\e618";
}

.icon-notpass-1-copy:before {
  content: "\e619";
}

.icon-pass-1-copy:before {
  content: "\e61a";
}

.icon-wodeshoucang:before {
  content: "\e615";
}
