{
  "presets": [
    "react",
    ["es2015", { "modules": false }],
    "stage-0",
  ],
  "ignore": ["./node_modules/ueditor/example/public/ueditor/ueditor.all.min.js"],
  "plugins": [
    ["react-loadable/babel"],
    ["syntax-dynamic-import"],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    ["import", 
      [
        { "libraryName": "antd", "libraryDirectory": "es", "style": true },
        { "libraryName": "antd-mobile", "libraryDirectory": "es", "style": true }
      ]
    ],
    [
      "transform-runtime", "syntax-dynamic-import", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
 