<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_inc/meta.html %>
</head>

<body>
  <div id="root">
    <div class="home">首页</div>
    <a href="/user/login">Go To Login</a>
    <br>
    <a href="/user/detail">Go To User</a>
    <br>
    <a href="/user/list">Go To UserList</a>
    <br><br>
    <div>bootstrap</div>
    <p class="text-primary">.text-primary</p>
    <p class="text-success">.text-success</p>
    <p class="text-danger">.text-danger</p>
    <p class="text-warning">.text-warning</p>
    <p class="text-info">.text-info</p>
    <button type="submit" class="btn btn-primary">Transfer cash</button>
  </div>
</body>

</html>
